#logo {
  height: fit-content;
}

#logopic {
  margin: auto;
  display: block;
}


#hamburger {
  height: fit-content;
  background-color: var(--chocolate);
  padding:1px;
  width: 25%;
  margin: auto;
  margin-bottom: 5px;
}

#nav-bar, #logo {
  width: 98%;
  margin: 0px auto;
  background-color: var(--nav-color);
}

.bar {
  height: 3px;
  margin: 10px;
  background-color: var(--nav-color);
}

#nav-items {
  padding:0;
  width:95%;
  margin: auto;
}
.nav-item {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--nav-bar);
  color: var(--nav-color);
}

.nav-item a {
  margin: auto;
}

.hide-small {
    display: none;
  }

@media only screen and (min-width:750px) {

  #root {
    display: flex;
    margin: auto;
    width: 100%;
  }

  #content {
    flex: 5;
  }

  #nav-bar {
      flex:1;
  }

  #hamburger {
    display: none;
  }
  .hide-small {
    display: block;
  }

  #nav-bar {
      width: fit-content;
      flex:1;
      justify-content: space-between;
  }
  
  #wrap {
    position: sticky;
    top:0px;
  }

  #logo {
      margin: auto;
      width: 90%;
  }

  .nav-item {
      width:90%;
      margin: 45px auto;
      flex:1;
  }
 }
