.else{
    position: relative;
}


.overlay {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: fit-content;
    background-color: black;
    opacity: 0;
    color: white;
}

.else:hover .overlay {
    opacity: 0.9;
}


